.intro-img img {
  object-fit: cover;
  height: 100%;
}

/* .subtitle {
  word-break: break-all;
} */

@media (max-width: 1000px) {
  .responsive-main-content {
    grid-template-columns: 1fr;
  }
  .vantagens-item {
    justify-items: center;
  }
  .pseudo::after {
    display: none;
  }
  .subtitle {
    text-align: center;
  }
}

@media (max-width: 700px) {
  body {
    gap: 30px;
    margin-top: 30px;
    font-size: 15px;
  }
  .cabecalho {
    gap: 30px;
  }
  .main-content {
    grid-template-columns: 1fr;
  }
  .intro {
    justify-items: start;
    text-align: left;
  }
  .intro h1 {
    font-size: 25px;
  }
  .intro p {
    font-size: 15px;
  }
  .intro::after {
    display: none;
  }
  .subtitle {
    text-align: left;
    font-size: 35px;
  }
}
