body {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  justify-items: center;
  gap: 2.5rem;
  user-select: none;
}

.main-content {
  max-width: 62.5rem;
}

.cabecalho {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
.cabecalho img {
  display: block;
  max-width: 9.375rem;
  align-self: center;
  margin-bottom: 1.875rem;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
}
.nav li a {
  color: #000;
  padding: 0.9375rem 1.5625rem;
  background-color: #fefef5;
  border-radius: 0.375rem;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intro {
  display: grid;
  position: relative;
  align-content: center;
  text-align: right;
  padding: 2.5rem;
  gap: 1.25rem;
  justify-items: end;
  background-color: #fff;
}

.intro-button {
  color: #fff;
  background-color: #e21;
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.375rem;
}

.subtitle {
  background: url(../img/onda.svg);
  align-self: center;
  text-align: right;
  padding: 1.25rem;
  color: #c6c6c6;
}

.vantagens {
  background: #fff;
  padding: 2.5rem;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.9375rem;
  padding: 0.625rem 1.25rem;
}

.vantagens-item p {
  grid-column: 2;
}

.footer {
  background-color: #fff;
  text-align: center;
  width: 100%;
  padding: 2.5rem;
}
